- name: update apt cache
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: install haproxy
  package:
    name: haproxy
    state: latest
  notify: 
    - haproxy started

- name: enable haproxy
  systemd:
    name: "haproxy"
    enabled: yes

- name: create /run/haproxy directory
  file:
    path: "/run/haproxy"
    state: directory
    owner: haproxy

- name: write haproxy conf
  template:
    src: "etc/haproxy/haproxy.j2"
    dest: "/etc/haproxy/haproxy.cfg"
    owner: root
    mode: 0755
    backup: yes
  notify: 
    - haproxy reloaded

- name: haproxy restarted
  ansible.builtin.service:
    name: haproxy
    state: restarted
