- name: Check if file already exists
  command: "ls /tmp/install.sh"
  register: install_file_exists
  ignore_errors: true
  tags: flux

- name: download flux install script
  uri:
    url: 'https://fluxcd.io/install.sh'
    method: GET
    dest: /tmp/install.sh
  register: result_curl
  tags: flux
  when: install_file_exists is failed 

- name: chmod install.sh
  ansible.builtin.file:
    path: /tmp/install.sh
    mode: "0755"
  tags: flux

- name: install flux
  shell: /tmp/install.sh
  args:
    executable: /bin/bash
  tags: flux

- name: boostrap flux
  register: result_bootstrap
  shell: | 
    echo "{{ flux_gitlab_token }}" | /usr/local/bin/flux bootstrap gitlab \
                             --deploy-token-auth \ 
                             --owner="{{ flux_gitlab_group }}" \ 
                             --repository="{{ flux_gitlab_repo }}" \ 
                             --branch="{{ flux_gitlab_branch }}" \ 
                             --path="{{ flux_gitlab_path }}" \ 
                             --hostname="{{ flux_gitlab_hostname }}" \ 
                             --cluster-domain "{{ clusterNetworking_dnsDomain }}"
  args:
    executable: /bin/bash
  ignore_errors: true
  tags: flux

- debug:
    var: result_bootstrap
  tags: flux

- name: Using vars while using label_selectors
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: flux-system
    field_selectors:
      - status.phase=Running
  register: result_flux_info
  tags: flux

- debug: 
    var: result_flux_info
  tags: flux