---
- name: git checkout
  git:
    repo: "{{ ansible_role_k8s_repo_url }}"
    dest: "{{ ansible_role_k8s_repo_location }}"
    version: "{{ ansible_role_k8s_repo_version }}"
  when:
    - ansible_role_k8s_repo_url is defined
    - ansible_role_k8s_repo_location is defined
    - ansible_role_k8s_repo_version is defined

- name: set no_proxy env variable for some of the kubernetes static pods (excluding etcd)
  shell: "python3 {{ ansible_role_k8s_repo_location }}/files/usr/local/bin/set_env_variable_in_yaml.py --env_name no_proxy --env_value '{{ no_proxy }}' --yaml_filename {{ item }}"
  with_items:
    - "/etc/kubernetes/manifests/kube-apiserver.yaml"
    - "/etc/kubernetes/manifests/kube-controller-manager.yaml"
    - "/etc/kubernetes/manifests/kube-scheduler.yaml"
  when:
    - no_proxy is defined
