- name: pip install haproxyadmin
  pip:
    name: haproxyadmin
  when: inventory_hostname in groups['k8s-nodes']

- name: Allow 'nagios' group to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^nagios'
    line: 'nagios ALL=(ALL) NOPASSWD: ALL'
    validate: 'visudo -cf %s'

- name: mkdir /opt/nagios/scripts and /etc/check_sockets
  file:
    path: "{{ item }}"
    state: directory
  when: inventory_hostname in groups['k8s-nodes']
  with_items:
    - /opt/nagios/scripts
    - /etc/check_sockets

- name: copy haproxy_check_backends.py and check_sockets.py to nagios scripts directory
  copy:
    src: "scripts/{{ item }}"
    dest: "/opt/nagios/scripts/{{ item }}"
    owner: root
    group: root
    mode: 0755
  when: inventory_hostname in groups['k8s-nodes']
  with_items: 
    - check_haproxy_backends.py
    - check_sockets.py  

- name: create check_sockets.yaml from j2 template
  ansible.builtin.template:
    src: check_sockets.yaml.j2
    dest: /etc/check_sockets/check_sockets.yaml
    owner: root
    group: root
    mode: 0644 
  when: inventory_hostname in groups['k8s-nodes']

    
- name: copy nrpe.d config
  copy:
    src: etc/nrpe.d/external.cfg
    dest: /etc/nrpe.d/external.cfg
    owner: root
    group: root
    mode: 0644 
  when: inventory_hostname in groups['k8s-nodes']
