{% for host in groups['k8s-nodes'] %}
define host {
        use gh-linux
        host_name {{ host|upper }}
        alias {{ host }}
        address {{ host }}.sirena-travel.ru
}

{% endfor %}
{% for host in groups['k8s-nodes'] %}
define service {
   use                             gs-direct
   service_description             check_haproxy_backends
   host_name                       {{ host|upper }}
   check_interval                  1
   notifications_enabled           1
   check_command                   check_haproxy_backends
}

{% endfor %}
{% for host in groups['k8s-nodes'] %}
define service {
   use                             gs-direct
   service_description             check_sockets
   host_name                       {{ host|upper }}
   check_interval                  1
   notifications_enabled           1
   check_command                   check_sockets
}

{% endfor %}
